@import '../styles.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12.2rem 35.2rem;

  @media (max-width: $medium-width) {
    margin: 12.2rem 15rem;
  }

  @media (max-width: $tablet-width) {
    margin: 8rem 5rem;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}
